html {
    background-color: #919191;
}
body {
    height: 0;
}
.navBar h1 {
    float: left;
    color: #333;
    text-align: center;
    margin: auto;
} 
.navBar {
       margin: auto;

}
.nav {
    display: inline-block !important;
}
h2 {
    font-family: 'Fjalla One', sans-serif;
}
h3 {
    font-family: 'Fjalla One', sans-serif;
}
h4 {
    text-align: center;
}
.subHead {
    font-family: Arial;
    padding-bottom: 10px;
}
li {
    display: inline-block;
    text-decoration: none;
}
.container {
    max-width: 960px;
    margin: auto;
}
body {
    background-color: #919191;
    margin: 0;
}
.one:hover {
    font-size: 30px;
}
.three:hover {
    background-color: teal;
}
.logo {
    text-align: center;    
    color: #333;
    padding: 10px;
    float: left;
    width: 88%;
    
}
.label {
    display: inherit;
    padding: 5px  0;
    font-family: Arial, Helvetica, sans-serif;
}

.portfolioProjectPic {
    background-size: cover; width: 90%; margin: auto; height: auto;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30),
							0 15px 12px rgba(0, 0, 0, 0.22);
	
	transition-property: transform;
	transition-timing-function: cubic-bezier(.550, .055, .675, .19);

}

.footer {
    padding: 10px; background-color: #333; width: 100%; bottom: 0; border-top: 5px solid #292929; position: fixed;
}
.footer p {
    text-align: center;
    color: white;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
}


.nav-link {
    font-family: 'Fjalla One', sans-serif;
    color: #333 !important;
}
a.nav-link:hover {
    color: #cebdff !important;
}
a {
    text-decoration: none !important;
}

.label {
    color: white; text-align: center; background-color:#3e3b61; padding: 10px; margin-bottom: 10%;
    text-decoration: none !important;
}

.background-image {
    padding-top: 50%;
    padding-bottom: 10%;
    margin-bottom: 10px;
    background-size: cover;    
    border-radius: 10px;
    box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
    transition: all .3s linear;

}
.background-image:hover {
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    transition: all .3s ease-in;
    
}
.col-4 {
    width: 30%; display: inline-block;
}
.col-6 {
    width: 44%;
    padding: 2%;
    display: inline-block;
    z-index: 0;
}
.col-8 {
    width: 70%; display: inline-block;
    height: 518px;
    min-height: 480px !Important;
    float: right;
    padding: 0px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.col {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
section {
    background-image: url("file:///C:/Users/wuebb/Documents/BootcampProjects/Responsive-Portfolio/assets/images/laCrosse.jpg") !important;
    background-size: cover;
    background-position: center;
    padding: 20px;
}
button {
    color: white;
    background-color: teal;
    padding: 5px;
    border-width: 0px;
    border-radius: 5px;
}
input, textarea {
    width: 100%;
}
.profile-pic {
    width: 30%;
    max-width: 150px;
    margin-left: 7% !important;
    padding-bottom: 0px !important;
    box-shadow: 5px 5px 10px #494063;
    transition: all .3s linear;
}
.profile-pic:hover {
    -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%); /* FF 35+ */
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    transition: all .3s ease-in;
}
.logoDescription {
    padding-top: 10px;
}
section.aboutMe {
    min-height: 330px;
    margin-bottom: 110px;
    height: 550px;
}
.rainbow {
    transform: rotate(90deg);
    fill: black;
  }
  
.footer p {
    margin-bottom: 0px;
}
li.nav-item {
        display: initial;
    }
    a.nav-link {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }
  /*This is coded CSS rainbow*/
  
  .rainbowtrout:hover {
  -webkit-animation:rainbow 1s infinite;
  -ms-animation:rainbow 1s infinite;
  -o-animation:rainbow 1s infinite;
  animation:rainbow 1s infinite;
  }
  @-webkit-keyframes rainbow {
  0% {fill: #ff0000;}
  10% {fill: #ff8000;}
  20% {fill: #ffff00;}
  30% {fill: #80ff00;}
  40% {fill: #00ff00;}
  50% {fill: #00ff80;}
  60% {fill: #00ffff;}
  70% {fill: #0080ff;}
  80% {fill: #0000ff;}
  90% {fill: #8000ff;}
  100% {fill: #ff0080;}
  }
  @-ms-keyframes rainbow {
  0% {fill: #ff0000;}
  10% {fill: #ff8000;}
  20% {fill: #ffff00;}
  30% {fill: #80ff00;}
  40% {fill: #00ff00;}
  50% {fill: #00ff80;}
  60% {fill: #00ffff;}
  70% {fill: #0080ff;}
  80% {fill: #0000ff;}
  90% {fill: #8000ff;}
  100% {fill: #ff0080;}
  }
  @-o-keyframes rainbow {
  0% {fill: #ff0000;}
  10% {fill: #ff8000;}
  20% {fill: #ffff00;}
  30% {fill: #80ff00;}
  40% {fill: #00ff00;}
  50% {fill: #00ff80;}
  60% {fill: #00ffff;}
  70% {fill: #0080ff;}
  80% {fill: #0000ff;}
  90% {fill: #8000ff;}
  100% {fill: #ff0080;}
  }
  @keyframes rainbow {
  0% {fill: #ff0000;}
  10% {fill: #ff8000;}
  20% {fill: #ffff00;}
  30% {fill: #80ff00;}
  40% {fill: #00ff00;}
  50% {fill: #00ff80;}
  60% {fill: #00ffff;}
  70% {fill: #0080ff;}
  80% {fill: #0000ff;}
  90% {fill: #8000ff;}
  100% {fill: #ff0080;}
  }
@media only screen and (max-width: 980px) {
  
}
@media only screen and (max-width: 768px) {
    .col-6 {
        max-width: 100% !important;
        flex: 0 0 100% !important;
        
    }
    .col-8 {
        margin-bottom: 7% !important;
        height: 530px;
    }
    h2 {
        font-size: 22px !important;
    }
    h4 {
        font-size: 18px !important;
    }
    .profile-pic {
        width: 100% !important;
    }
    
    section.aboutMe {
        height: 625px !important;
    }
}
@media only screen and (max-width: 640px) {
    .nav {
        height:120px;
        position: static;
    }
    .profile-pic {
        width: 100%;
        padding-bottom: 10px;
    }
}
